@media (max-width: 768px) {
body{
  margin: 10px;
  border-style: solid;
  border-color:#817AD8;
  border-width: 0.5pt
}
header{
    display: flex;
    max-width: 100%;
    flex-direction: column;
    padding: 40px 10px;
  }

  .logo{
    max-width: 30%;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
  }
  .logo img{
    width: 100%;
    margin:auto;
    padding:0;
  }
  .name{
    display:flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding:0;
  }
  .name h1{
    font-size: 30pt;
    letter-spacing: 2pt;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin:auto;
    padding:0;
  }
  .name h2{
    font-size: 10pt;
    letter-spacing: 2pt;
    margin: auto;
    font-weight: 100;
  }

  /* menu */
  .menu a img{
    max-width: 200%;
    padding: 5px 5px;
  }
  .menu-toggle{
    color:#605AAF;
  }
  header .menu-toggle {
    display: block;
    background: none;
    border: none;
    font-size: 3em;
    font-weight: bolder;
    cursor: pointer;
}

header nav {
    display: none;
    flex-direction: column;
    width: 100%;
}

header nav.menu-open {
    display: flex;
}

header nav ul {
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav a {
    padding: 1em;
    text-decoration: none;
}

/* end of menu */
  
  .introduction {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: #605AAF;
    padding: 0;
    margin: 0;
    column-gap: 20px;
  }
  #intro {
    max-width: 100%;
    margin: auto;
    padding: 0;
  }
  #intro h2 {
    padding: 20px 20px;
    margin: auto;
    color: #BFC6C8;
    font-size: 25pt;
    letter-spacing: 1pt;
    text-align: center;
  }
  #intro p {
    color: white;
    font-size: 10pt;
    line-height: 1.5rem;
    margin: 0;
    padding: 0 30px;
    padding-bottom: 30px;
    text-align: justify;
  }
  #introimg {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    margin: auto;
  }
  #introimg img {
    width: 80%; 
    height: auto;
    margin:0;
    object-fit: cover;
    aspect-ratio: 4 / 4;
  }
  
  .triangles{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding:0;
    margin:0;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .triangles h3{
    padding: 20px 30px;
    font-size: 16pt;
    font-weight: 400;
    text-align: center;
  }
  #tri-image{
    display: flex;
    max-width: 100%;
    flex-direction: column;
    padding: 20px;
    row-gap: 20px;
  }
  #tri-image img{
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .airbnb{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding:20px 20px;
    margin:0;
  }
  .airbnb h4{
    font-size: 20pt;
    letter-spacing: 5pt;
    font-weight: 600;
    padding:0;
    margin:0;
    color: #817AD8;
    text-align: right;
  }
  .airbnb p{
    padding-left: 0%;
    line-height: 1.5rem;
    font-size: 10pt;
    text-align: justify;
  }
  hr{
    margin: 20px 0 ;
    border: solid;
    border-width: 1pt;
    border-color:#605AAF;
  }
/* embed airbnb */
  .embed{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin:0;
    padding:0
  }
  .airbnb-embed-frame{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin:0;
    padding: 0;
  }
  
  .homemade h6{
    text-align: center;
    padding: 50px 20pt;
    font-size: 13pt;
    letter-spacing: 0.5rem;
    margin:auto;
  }
  #squareimages{
    display: flex;
    max-width: 100%;
    flex-direction: column;
    padding: 30px 0;
    margin: auto;
    column-gap: 0;
    row-gap:30px;
    background-color: #FFBF00;
  }
  #squareimages img{
    max-width:80%;
    width: 100%;
    aspect-ratio: 4 / 3;
    border-style: solid;
    border-color:#817AD8;
    border-width: 1pt;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
  }
  .intheheart{
    display: flex;
    max-width: 100%;
    flex-direction: columns;
    padding:20px 0;
    margin:0; 
  }
  .intheheart h5{
    font-size: 12pt;
    color: #817AD8;
    text-align: center;
    display: flex;
    letter-spacing: 0rem;
    margin: auto;
    padding-top:10px;
    padding-bottom:0;
  }
  /* gallery */
  .gallery {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    column-gap: 5px;
    margin: auto;
    padding: 5px;
  }
  
  .gallery div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    overflow: hidden;
  }
  
  #column-one {
    max-width: 25%;
    object-fit: cover;
  }
  
  #column-two {
    max-width: 50%;
    row-gap: 5px;
    object-fit: cover;
  }
  
  #column-three {
    max-width: 25%;
    object-fit: cover;
  }
  
  .gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  
  /* FOOTER */
  footer {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    margin: auto;
    padding: 30px 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color:#BA8247;
  }  
  .contact {
    display: flex;
    max-width: 50%;
    flex-direction: column;
    column-gap:0px;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: auto;
  }
  .contact a{
    color:#ffffff;
    font-size: 12pt;
    text-decoration: none;
  }
  .contact a img:hover{
    background-color: #FFBF00;
  }
  .copyright {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 10px;
    margin:auto;
  }
  #copy{
    max-width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin:auto;
    padding-top: 20px;
  }
  
  #copy a{
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    color:#ffffff;
    font-size: 6pt;
    text-decoration: none;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 1pt;
    text-align: center;
  }  
}